body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow {
  color: #FDD835; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.footer-page {
  width: 100%;
  padding-top: 80px; }
  .footer-page .footer-box {
    width: 85%;
    margin: 0 auto;
    color: #fff; }
    .footer-page .footer-box hr {
      width: 100%;
      height: 2px; }
    .footer-page .footer-box .bottom-box {
      padding: 20px 0; }
      .footer-page .footer-box .bottom-box .logo-box {
        margin-top: -15px; }
        @media screen and (max-width: 992px) {
          .footer-page .footer-box .bottom-box .logo-box {
            text-align: center; } }
        .footer-page .footer-box .bottom-box .logo-box img {
          margin-right: 20px;
          margin-top: 10px;
          width: 380px; }
          @media screen and (max-width: 992px) {
            .footer-page .footer-box .bottom-box .logo-box img {
              width: 60px;
              margin-top: -10px; } }
        .footer-page .footer-box .bottom-box .logo-box span {
          margin-left: 25px;
          font-size: 40px;
          font-weight: bold; }
          @media screen and (max-width: 992px) {
            .footer-page .footer-box .bottom-box .logo-box span {
              font-size: 40px;
              margin: 0; } }
      .footer-page .footer-box .bottom-box .social-box {
        text-align: right; }
        @media screen and (max-width: 992px) {
          .footer-page .footer-box .bottom-box .social-box {
            text-align: center;
            margin-top: 30px; } }
        .footer-page .footer-box .bottom-box .social-box .logo {
          margin-left: 30px;
          cursor: pointer; }
          .footer-page .footer-box .bottom-box .social-box .logo * {
            width: 42px;
            height: 42px; }
        .footer-page .footer-box .bottom-box .social-box .logo:hover * {
          fill: #59C9C3;
          width: 42px;
          height: 42px; }
        .footer-page .footer-box .bottom-box .social-box img {
          margin-left: 30px; }
          .footer-page .footer-box .bottom-box .social-box img * {
            fill: green; }
          @media screen and (max-width: 992px) {
            .footer-page .footer-box .bottom-box .social-box img {
              margin: 0 15px;
              width: 35px;
              height: 35px; } }
        .footer-page .footer-box .bottom-box .social-box img:hover * {
          fill: #59C9C3; }
        .footer-page .footer-box .bottom-box .social-box .email-icon {
          width: 48px; }
body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn, .goal-page .goal-box .btn-advice {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow {
  color: #FDD835; }

.montserrat, .goal-page .goal-box h1, .goal-page .goal-box .btn-advice {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.goal-page {
  width: 100%;
  min-height: 100vh;
  background-image: url(a65193ce0e9b6a142005bab8d822433a.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 90px 0; }
  @media screen and (max-width: 992px) {
    .goal-page {
      padding: 40px 0; } }
  .goal-page .goal-box {
    width: 55%;
    margin: 25px auto;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 992px) {
      .goal-page .goal-box {
        width: 90%; } }
    .goal-page .goal-box h1 {
      margin-top: 30px;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.3em; }
      @media screen and (max-width: 992px) {
        .goal-page .goal-box h1 {
          font-size: 24px;
          line-height: 1.6em; } }
    .goal-page .goal-box h2 {
      margin-top: 40px;
      font-size: 22px;
      font-weight: 300;
      line-height: 1.6em;
      text-align: left; }
      @media screen and (max-width: 992px) {
        .goal-page .goal-box h2 {
          margin-top: 70px;
          font-size: 18px;
          line-height: 1.8em; } }
    .goal-page .goal-box .icon-wrapper {
      margin-right: 15px;
      vertical-align: middle; }
    .goal-page .goal-box .btn-advice {
      margin-top: 80px;
      background-color: transparent;
      border: 2px solid #C04BAE;
      padding: 10px 35px;
      font-weight: 500;
      color: #fff; }
    .goal-page .goal-box .btn-advice:focus {
      outline: none; }
    .goal-page .goal-box .btn-advice:hover {
      border: 2px solid #59C9C3; }
body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn, .home-page .btn-join {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow {
  color: #FDD835; }

.montserrat, .home-page .text-container h1, .home-page .text-container h2, .home-page .btn-join {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient, .home-page .text-container h2 {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient, .home-page .btn-join {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover, .home-page .btn-join:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.home-page {
  width: 90%;
  padding-top: 130px;
  padding-bottom: 150px;
  margin: 0 auto; }
  .home-page img {
    width: 650px; }
  @media screen and (max-width: 992px) {
    .home-page {
      text-align: center;
      padding-top: 80px;
      padding-bottom: 50px; }
      .home-page img {
        margin-top: 50px; } }
  .home-page .text-container {
    padding-top: 30px; }
    .home-page .text-container h1 {
      font-size: 53px;
      font-weight: 700;
      color: #0F0A15; }
    .home-page .text-container h2 {
      font-weight: 400;
      color: #8D8D8D;
      font-size: 35px;
      line-height: 38px; }
    .home-page .text-container .subtext-box {
      margin-top: 37px;
      margin-bottom: 25px; }
    .home-page .text-container h3 {
      font-weight: 200;
      color: #8D8D8D;
      line-height: 1.5em;
      font-size: 23px; }
  .home-page .btn-join {
    background-color: #FDD835;
    color: #fff;
    margin-top: 20px; }
body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow, .info-page .info-box .yellow-text {
  color: #FDD835; }

.montserrat, .info-page .info-box h1 {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small, .info-page .info-box .text-step3, .info-page .info-box .div-step3 {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small, .info-page .info-box .text-step2, .info-page .info-box .div-step2 {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small, .info-page .info-box .text-step1, .info-page .info-box .div-step1 {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.info-page {
  width: 100%;
  background-color: #fff;
  padding: 80px 0; }
  @media screen and (max-width: 992px) {
    .info-page {
      padding: 30px 0; } }
  .info-page .info-box {
    width: 60%;
    margin: 15px auto;
    text-align: center;
    color: #282230; }
    @media screen and (max-width: 992px) {
      .info-page .info-box {
        width: 90%; } }
    .info-page .info-box h1 {
      font-weight: 500;
      line-height: 1.5em;
      font-size: 44px; }
      @media screen and (max-width: 992px) {
        .info-page .info-box h1 {
          font-size: 30px; } }
    .info-page .info-box .snippet-box {
      margin-top: 40px; }
    .info-page .info-box h2 {
      margin-top: 50px;
      font-weight: bold;
      font-size: 32px; }
    .info-page .info-box h3 {
      margin-top: 30px;
      font-size: 23px;
      font-weight: bold; }
      @media screen and (max-width: 992px) {
        .info-page .info-box h3 {
          font-size: 20px;
          line-height: 1.8em; } }
    .info-page .info-box h4 {
      text-align: left;
      color: #8D8D8D;
      margin-top: 35px;
      font-size: 22px;
      font-weight: 300;
      line-height: 1.5em; }
      @media screen and (max-width: 992px) {
        .info-page .info-box h4 {
          font-size: 18px;
          line-height: 1.8em; } }
    .info-page .info-box .div-step1 {
      padding: 0 15px; }
    .info-page .info-box .div-step2 {
      padding: 0 15px; }
    .info-page .info-box .div-step3 {
      padding: 0 15px; }
    .info-page .info-box .yellow-text {
      padding: 0 15px; }
body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn, .join-form-page .form-box .btn-yes {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow {
  color: #FDD835; }

.montserrat, .join-form-page .form-box h1, .join-form-page .form-box .btn-yes {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient, .join-form-page .form-box .btn-yes {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover, .join-form-page .form-box .btn-yes:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.join-form-page {
  width: 100%;
  background-image: url(1352f4ca0547f2a78aa65fea7ad976b7.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 20px; }
  .join-form-page .form-box {
    width: 50%;
    margin: 100px auto 10px auto;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 992px) {
      .join-form-page .form-box {
        width: 90%;
        margin: 80px auto; } }
    .join-form-page .form-box h1 {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.8em; }
      @media screen and (max-width: 992px) {
        .join-form-page .form-box h1 {
          font-size: 35px; } }
    .join-form-page .form-box .confirm-text {
      text-transform: capitalize; }
    .join-form-page .form-box h2 {
      margin-top: 30px;
      font-size: 24px;
      line-height: 1.5em;
      font-weight: 300;
      text-align: left; }
      @media screen and (max-width: 992px) {
        .join-form-page .form-box h2 {
          font-size: 20px;
          line-height: 1.5em; } }
    .join-form-page .form-box .form {
      margin-top: 30px; }
      .join-form-page .form-box .form h3 {
        color: #fff;
        font-weight: 400;
        text-align: left;
        padding-left: 25px; }
      .join-form-page .form-box .form input {
        color: #fff;
        width: 100%;
        border-radius: 40px;
        border: 2px solid #C04BAE;
        padding: 10px 25px;
        background: none;
        font-size: 20px;
        font-weight: 400; }
        @media screen and (max-width: 992px) {
          .join-form-page .form-box .form input {
            font-size: 15px;
            padding: 10px 20px; } }
      .join-form-page .form-box .form ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff; }
      .join-form-page .form-box .form ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .join-form-page .form-box .form :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff; }
      .join-form-page .form-box .form :-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
      .join-form-page .form-box .form input:focus {
        outline: none; }
      .join-form-page .form-box .form .check-box {
        text-align: left;
        margin-top: 20px;
        margin-left: 10px;
        width: 100%; }
        .join-form-page .form-box .form .check-box .beta-input {
          width: auto;
          height: 30px; }
        .join-form-page .form-box .form .check-box input[type="checkbox"] {
          width: 20px;
          /*Desired width*/
          height: 20px;
          /*Desired height*/
          zoom: 1.2; }
          @media screen and (max-width: 992px) {
            .join-form-page .form-box .form .check-box input[type="checkbox"] {
              width: 10px;
              /*Desired width*/
              height: 10px;
              /*Desired height*/
              zoom: 1.1; } }
        .join-form-page .form-box .form .check-box span {
          margin-left: 10px;
          font-size: 20px;
          font-weight: 300; }
          @media screen and (max-width: 992px) {
            .join-form-page .form-box .form .check-box span {
              font-size: 16px;
              line-height: 1.5em; } }
    .join-form-page .form-box .btn-yes {
      text-align: center;
      margin-top: 80px;
      padding: 10px 30px; }
body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn, .container-fluid .btn-join {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow {
  color: #FDD835; }

.montserrat, .navbar-default .navbar-nav li, .nav-join {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient, .container-fluid .btn-join {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover, .container-fluid .btn-join:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.container-fluid {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .container-fluid .btn-join {
    border: none;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
    margin-top: -15px; }

.navbar {
  background-color: #fff;
  border: none; }
  .navbar .nav-logo {
    width: 80px;
    cursor: pointer;
    margin-top: -10px; }

.navbar-default .navbar-nav li {
  cursor: pointer;
  font-size: 18px;
  color: #8D8D8D;
  font-weight: 300;
  margin-right: 20px; }

.nav-join {
  background: none; }
body {
  width: 100%;
  font-family: 'Lato', sans-serif; }

.landing-page {
  width: 100%; }

.bd-btn, .overview-page .info-box .btn-learn-more {
  border-radius: 52px;
  padding: 11px 20px;
  font-size: 20px;
  font-weight: normal; }

.txt-yellow {
  color: #FDD835; }

.montserrat, .overview-page .info-box h1, .overview-page .info-box .btn-learn-more {
  font-family: 'Montserrat', sans-serif; }

.txt-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-blue-small {
  background: linear-gradient(to right, #04ACF4, #04ACF4, #873BCB, #873BCB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-teal-small {
  background: linear-gradient(to right, #95E19F, #95E19F, #24B4E3, #24B4E3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.txt-bd-gradient-pink-small {
  background: linear-gradient(to right, #FF3D7B, #FF3D7B, #9446D6, #9446D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-bd-gradient {
  background: linear-gradient(to right, #FF3D7B, #9446D6); }

.bg-bd-gradient:hover {
  background: linear-gradient(to right, #95E19F, #24B4E3); }

.bg-diag-left-right-bd-gradient, .overview-page {
  background: #C04BAE;
  background: -webkit-linear-gradient(-120deg, #9446D6, #9446D6, #FF3D7B);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #9446D6, #9446D6, #FF3D7B);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-60deg, #9446D6, #9446D6, #FF3D7B);
  /* Standard syntax */ }

.overview-page {
  width: 100%;
  background-color: #FDD835;
  padding: 100px 0; }
  @media screen and (max-width: 992px) {
    .overview-page {
      padding: 40px 0; } }
  .overview-page .info-box {
    width: 70%;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      .overview-page .info-box {
        width: 90%;
        margin: 0 auto;
        text-align: center; }
        .overview-page .info-box .overview-title {
          font-size: 28px;
          line-height: 1.3em; } }
    .overview-page .info-box h1 {
      color: #fff;
      line-height: 1.5em;
      font-weight: 500;
      font-size: 40px; }
    .overview-page .info-box .more-info-box {
      margin-top: 30px; }
    .overview-page .info-box h2 {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 40px;
      line-height: 1.7em;
      color: #fff; }
      @media screen and (max-width: 992px) {
        .overview-page .info-box h2 {
          font-size: 20px;
          margin-top: 30px;
          margin-bottom: 20px; } }
    .overview-page .info-box .icon-wrapper {
      margin-right: 10px;
      vertical-align: middle; }
    .overview-page .info-box .btn-learn-more {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: transparent;
      border: 2px solid #C04BAE;
      color: #fff;
      font-weight: 500; }
    .overview-page .info-box .btn-learn-more:hover {
      border: 2px solid #59C9C3; }
    .overview-page .info-box h3 {
      margin-left: 20px;
      margin-top: 30px;
      font-size: 20px;
      font-weight: 300;
      color: #0F0A15; }
      @media screen and (max-width: 992px) {
        .overview-page .info-box h3 {
          margin-left: 0; } }
